body {
    margin: 0;
    padding: 0;
}

.nav-title {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    border-radius: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

div.content {
    margin-top: 90px;
}

h1.task-owner {
    font-family: raleway;
    font-weight: 600;
}

ul {
    list-style-type: none;
    padding-left: 20px;
}

li.nav-item {
    float: right;
    list-style-type: none;
}

.nav-item a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 15px;
    text-decoration: none;
    font-size: 20px;
    letter-spacing: 0.5px;
    margin-right: 20px;
    font-family: raleway;
}

.nav-item a:hover {
    background-color: #4e4c4c;
}

.task-form {
    float: left;
    padding: 14px 16px;
}

.add-task-button {
    float: left;
    padding: 6px 2px;
    width: 85px;
    margin-left: 8px;
    font-size: 13px;
    border: 0px;
    border-radius: 3px;
    cursor: pointer;
    background-color: green;
    color: white;
    height: 34px;
    outline: none;
}

.add-task-button:active {
    background-color: #07ad07;
}

.task-form label {
    color: white;
    float: left;
    margin-top: -26px;
    margin-left: 322px;
    font-family: raleway;
    font-size: 15px;
}

.task-form input[type="text"] {
    background-color: white;
    width: 190px;
    display: inline-block;
    float: left;
    border-radius: 3px;
    padding-bottom: 7px;
    border-style: none;
    font-size: 17px;
    text-indent: 10px;
    padding-top: 7px;
    outline: none;
}

.displayed-task {
    display: flex;
    justify-content: flex-start;
    color: black;
    background-color: white;
    width: 100%;
    padding-top: 23px;
    list-style-type: none;
    font-family: raleway;
}

.complete-task-button {
    color: white;
    padding: 3px;
    border-radius: 2px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: green;
    display: inline-block;
    cursor: pointer;
    box-shadow: none;
    border-style: none;
    margin-left: 8px;
    list-style: none;
    outline: none;
}

input.form-control {
    margin-bottom: 25px;
    margin-top: 7px;
    font-size: 22px;
    text-indent: 15px;
    letter-spacing: 1px;
    width: 500px;
    height: 41px;
    position: relative;
    outline: none;
}

label.col-form-label {
    color: black;
    font-size: 16px;
    font-family: raleway;
    font-weight: 500;
    text-indent: 15px;
    letter-spacing: 1px;
    width: 500px;
    margin-top: 30px;
    margin-right: 30px;
}

header.card-header {
    color: black;
    padding-top: 50px;
    font-size: 30px;
    font-family: raleway;
    font-weight: 600;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
}

div.card-header {
    color: black;
    font-size: 30px;
    font-family: raleway;
    font-weight: 600;
    display: flex;
    justify-content: center;
}

.card-body {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.center {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

button.btn {
    color: white;
    background-color: green;
    padding-top: 0px;
    width: 300px;
    height: 50px;
    font-family: raleway;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 1px;
    border: none;
    border-radius: 3px;
    outline: none;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

button.btn:active {
    background-color: #07ad07;
}

input.task-form-button-checkbox {
    float: left;
    top: 30.5%;
    margin-top: 1.px;
    margin-left: -18px;
}

div.alert-danger {
    float: right;
    margin-top: -11px;
    color: white;
    margin-left: 19px;
}

input.form-check-input {
    margin-bottom: 15px;
}

a.btn-link {
    font-family: raleway;
    font-size: 14px;
    color: grey;
    text-decoration: none;
    display: flex;
    flex-direction: column-reverse;
    justify-content: baseline;
    align-items: center;
    margin-top: 20px;
}

a.btn-link:hover {
    color: #333;
}

span.invalid-feedback {
    color: red;
}

button.login-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

div.register-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

div.register-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

label.form-check-label {
    display: inline-flex;
    font-family: raleway;
}

span.invalid-feedback {
    display: flex;
    margin-top: -21px;
    margin-bottom: 11px;
    font-family: raleway;
    font-size: 14px;
}

strong.form-group-row {
    display: flex;
    margin-top: -21px;
    margin-bottom: 11px;
    font-family: raleway;
    font-size: 14px;
}

