* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #C4C4C4;
}

.background {
    display: flex;
    flex-wrap: wrap;
    background-color: #F6F8FF;
}

.scroll-window {
    display: block;
    overflow-y: auto;
    height: 640px;
}

.category-header th, tr {
    font-family: realist;
    border-bottom: 1px #e4e5e6 solid;
    text-align: left;
    z-index: 3;
}

div.sidebar-content {
    padding-top: 20px;
}

.nav-title {
    list-style-type: none;
    display: block;
    width: 200px;
    background-color: #49587A;
    height: 100%;
}

.nav-title li {
    list-style: none;
}

.sidebar {
    flex: 1;
    background-color: #49587A;
    height: 939px;
}

.body-port {
    flex: 13;
    background-color: #F6F8FF;
    padding-top: 20px;
    padding-left: 20px;
}

th {
    padding-right: 40px;
    padding: 10px 0;
    background-color: white;
    border-bottom: 1px black solid;
}

thead tr {
/*    border: 1px red solid;*/
}

.content-ul thead th {
    position: sticky;
    top: 0;
    z-index: 2;
    padding-right: 25px;
}

.content-ul {
/*  border: 1px red solid;*/
  border-collapse: separate;
  border-spacing: 0;
}

.content-ul td {
  border-bottom: 1px #e4e5e6 solid;
/*  border: 1px red solid;*/
  font-family: realist;
  padding: 15px 0;
  font-size: 16px;
  padding-right: 30px;
  text-align: left;
  color: #262626;
}

.content-ul, .content-ul tr {
    border-bottom: 1px #e4e5e6 solid;
    width: 100%;
}

div.content {
    background-color: white;
    list-style: none;
    margin: 20px;
    padding: 30px;
    border: 1px #e4e5e6 solid;
    border-radius: 5px;
}

h3.task-owner {
    font-family: raleway;
    padding-bottom: 28px;
    font-weight: 600;
    color: #3E79FF;
    border-bottom: 1px #e4e5e6 solid;
    padding-top: 5px;
}

.nav-item i {
    margin-right: 5px;
    font-size: 20px;
}

.nav-item a {
    display: block;
    left: 60px;
    color: white;
    padding: 15px 0 15px 20px;
    text-decoration: none;
    font-size: 100%;
    letter-spacing: 0.5px;
    font-family: raleway;
    left: 60px;
}

.nav-item a:hover {
    background-color: #4273FB;
    width: 100%;
}

.active {
    background-color: #4273FB;
}

.nav-item a:active {
    background-color: #4273FB;
}

.task-form {
    margin-bottom: 30px;
    padding-top: 20px;
    outline: none;
}

.add-task-button {
    width: 85px;
    font-size: 13px;
    border: 0px;
    border-radius: 0 3px 3px 0;
    cursor: pointer;
    background-color: green;
    color: white;
    height: 35px;
    outline: none;
}

.add-task-button:active {
    background-color: #07ad07;
}

button.search-button {
    width: 107px;
    font-size: 13px;
    border: 0px;
    border-radius: 3px;
    cursor: pointer;
    background-color: #3E79FF;
    color: white;
    height: 29px;
    outline: none;
    float: right;
}

button.search-button:active {
    background-color: #2354c4;
}

.task-form label {
    color: black;
    font-family: raleway;
    font-size: 15px;
}

div.alert-danger {
    color: red;
    justify-content: center;
    display: inline-table;
    position: fixed;
    padding-top: 41px;
    font-family: sans-serif;
    font-size: 13px;
}

.task-form input[type="text"] {
    width: 500px;
    font-family: raleway;
    font-size: 16px;
    outline: none;
    text-indent: 5px;
    padding: 5px;
}

.class-of-magic {
    display: flex;
}

.displayed-task {
    color: black;
    list-style-type: none;
    font-family: realist;
    border-top: 1px #e4e5e6 solid;
    padding: 30px 0 30px 0;
}

button.edit-button, .delete-button, .complete-button {
    width: 33px;
    font-size: 16px;
    border: 0px;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    height: 29px;
    outline: none;
}

.complete-button {
    background-color: green;
}

.edit-button {
    background-color: #3E79FF;
}

.edit-button:hover {
    background-color: #759fff;
}

.edit-button:active {
    background-color: #3E79FF;
}

.delete-button {
    background-color: #fe3f61;
}

.delete-button:hover {
    background-color: #ff6b86;
}

.delete-button:active {
    background-color: #fc385b;
}

.complete-task-button {
    width: 107px;
    font-size: 13px;
    border: 0px;
    border-radius: 3px;
    cursor: pointer;
    background-color: green;
    color: white;
    height: 29px;
    outline: none;
}

.complete-task-button:active {
    background-color: #07ad07;
}

input.form-control {
    font-size: 15px;
    text-indent: 15px;
    letter-spacing: 1px;
    width: 100%;
    height: 41px;
    outline: none;
    margin: 5px 0 15px 0;
    border: 1px #d3d4d5 solid;
    border-radius: 3px;
}

label.col-form-label {
    color: #0b46cc;
    font-size: 16px;
    font-family: raleway;
    font-weight: 500;
    text-indent: 15px;
}

header.card-header {
    color: #3E79FF;
    font-size: 30px;
    font-family: raleway;
    font-weight: 600;
    text-align: center;
    margin-bottom: 35px;
}

div.card-header {
    color: black;
    font-size: 30px;
    font-family: raleway;
    font-weight: 600;
    text-align: center;
}

.center {
    display: block;
    text-align: center;
}

button.btn {
    color: white;
    background-color: #3E79FF;
    width: 100%;
    height: 44px;
    font-family: raleway;
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 1px;
    border: none;
    border-radius: 3px;
    outline: none;
    display: block;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 30px;
}

button.btn:active {
    background-color: #2354c4;
}

input.task-form-button-checkbox {

}


/*about and login pages
*
*
*/

a.btn-link {
    font-family: raleway;
    font-size: 14px;
    color: grey;
    text-decoration: none;
    align-items: center;
}

a.btn-link:hover {
    color: #333;
}

span.invalid-feedback {
    color: red;
    font-family: raleway;
    padding-top: 10px;
}

button.login-button {

}

div.register-form {
   
}

div.register-button {

}

label.form-check-label {
    font-family: raleway;
    color: #0b46cc;
}

input.form-check-input {

}

span.invalid-feedback {
    display: flex;
    margin-top: -21px;
    margin-bottom: 11px;
    font-family: raleway;
    font-size: 14px;
}

strong.form-group-row {
    margin-top: -21px;
    margin-bottom: 11px;
    font-family: raleway;
    font-size: 14px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    color: white;
    text-align: center;
    display: flex;
    justify-content: flex-start;
    flex-direction: column-reverse;
}

p.creator {
    color: black;
    letter-spacing: 1px;
    font-size: 13px;
    margin-bottom: 10px;
    font-family: sans-serif;
    font-weight: lighter;
}

h1.about {
    color: black;
    padding-top: 50px;
    font-size: 30px;
    font-family: raleway;
    font-weight: 600;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
}

p.about {
    display: flex; 
    font-family: raleway;
    width: 50%; 
    margin: auto; 
    text-align: center;
    line-height: 30px;
}

img.about-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 15px;
    width: 50%;
}

.fa-search {
    font-size: 20px;
    padding-right: 5px;
}

.fa-plus {
    padding-right: 5px;
}

.fa-bars {
    font-size: 20px;
    padding-right: 10px;
}

#socials a {
    color: white;
    text-decoration: none;
    width: 200px;
    display: inline;
    padding: 15px;
    font-size: 20px;
}

#socials {
    text-align: center;
    width: 100%;
    display: block;
    margin-top: 675px;
}

.fa-info-circle {
    color: black;
}

.modal-card {
    position: fixed;
    width: 100%;
    height: 100%;
    visibility: hidden;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.4);
    transition: all 0.4 ease-in-out;
}

.container {
    width: 500px;
    padding: 30px 70px;
/*    background-color: #F6F8FF;*/
    margin: 5% auto 15% auto;
    border-radius: 5px;
}

.card-body {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 50px rgba(246, 248, 255, 0.3);
}

button.modal-cross {
    font-size: 20px;
    border: none;
    cursor: pointer;
    outline: none;
    margin: 10px;
    text-align: right;
}

button.modal-cross:active {
    font-size: 20px;
    border: none;
    cursor: pointer;
    border-color: none;
    background-color: white;
    outline: none;
    color: grey;
}

div.modal-seperator {
   padding: 0 45px 45px 45px;
   text-align: left;
}

.option-buttons {
    display: inline-block;
}

.toggle {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  z-index: 5;
  width: 62px;
  height: 32px;
  display: inline-block;
  position: relative;
  border-radius: 50px;
  overflow: hidden;
  outline: none;
  border: none;
  cursor: pointer;
  z-index: 1;
  background-color: #d3d3d3;
  transition: background-color ease 0.3s;
}

.toggle:before {
  content: "";
  display: block;
  position: absolute;
  width: 28px;
  height: 28px;
  background: #fff;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  font: 10px/28px Helvetica;
  text-transform: uppercase;
  font-weight: bold;
  text-indent: -22px;
  word-spacing: 37px;
  color: #fff;
  text-shadow: -1px -1px rgba(0,0,0,0.15);
  white-space: nowrap;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  transition: all cubic-bezier(0.3, 1.5, 0.7, 1) 0.3s;
}

.toggle:checked {
  background-color: #4CD964;
}

.toggle:checked:before {
  left: 32px;
}








