.nav-title {
    list-style-type: none;
    margin: -8px;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    margin-bottom: 90px;
    border-radius: 0;
}

ul {
    list-style-type: none;
    padding-left: 20px;
}

li.nav-item {
    float: right;
    list-style-type: none;
}

.nav-item a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 15px;
    text-decoration: none;
    font-size: 20px;
    letter-spacing: 0.5px;
    margin-right: 20px;
}

.nav-item a:hover {
        background-color: #4e4c4c;
}

.task-form {
    float: left;
    padding: 14px 16px;
}

.add-task-button {
    float: left;
    padding: 6px 2px;
    width: 85px;
    margin-left: 8px;
    font-size: 13px;
    border: 0px;
    border-radius: 3px;
    cursor: pointer;
    background-color: green;
    color: white;
    height: 34px;
    outline: none;
}

.add-task-button:active {
    background-color: #07ad07;
}

.task-form label {
    color: white;
    float: left;
    margin-top: -26px;
    margin-left: 322px;
}

.task-form input[type="text"] {
    background-color: white;
    width: 190px;
    display: inline-block;
    float: left;
    border-radius: 3px;
    padding-bottom: 7px;
    border-style: none;
    font-size: 17px;
    text-indent: 10px;
    padding-top: 7px;
    outline: none;
}

.displayed-task {
    float: left;
    color: black;
    background-color: white;
    width: 100%;
    padding-top: 23px;
    list-style-type: none;
}

.complete-task-button {
    color: white;
    padding: 3px;
    border-radius: 2px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: green;
    display: inline-block;
    cursor: pointer;
    box-shadow: none;
    border-style: none;
    margin-left: 8px;
    list-style: none;
    outline: none;
}

input.form-control {
    margin-bottom: 16px;
    margin-top: 7px;
    font-size: 22px;
    text-indent: 15px;
    letter-spacing: 1px;
    width: 500px;
    height: 41px;
    position: relative;
    left: 26%;
    outline: none;
    position: relative;
}

label.col-form-label {
    color: black;
    font-size: 16px;
    font-family: raleway;
    font font-weight: initial;
    font-weight: 500;
    margin-bottom: 16px;
    font-size: 15px;
    text-indent: 15px;
    letter-spacing: 1px;
    width: 500px;
    height: 41px;
    position: relative;
    left: 26%;
}

div.card-header {
    color: black;
    padding-bottom: 30px;
    padding-top: 50px;
    font-size: 30px;
    font-family: raleway;
    font-weight: 600;
    position: fixed;
    top: 12%;
    left: 47%;
    margin-left: 10px;
}

div.card {
    padding-top: 50px;
    right: 104%;
    width: 200px;
    height: 200px;
    position: fixed;
    top: 30%;
    left: 40%;
    margin-top: -120px;
    margin-left: -100px;
}

button.btn {
    color: white;
    background-color: green;
    padding-top: 0px;
    right: 100%;
    width: 300px;
    height: 50px;
    position: fixed;
    top: 30.5%;
    left: 44.3%;
    margin-top: 290px;
    margin-left: -30px;
    font-family: raleway;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 1px;
    border: none;
    border-radius: 3px;
    outline: none;
}

button.btn:active {
    background-color: #07ad07;
}

input.task-form-button-checkbox {
    float: left;
    top: 30.5%;
    margin-top: 1.px;
    margin-left: -18px;
}

div.alert-danger {
    float: right;
    margin-top: -11px;
    color: white;
    margin-left: 19px;
}

input.form-check-input {
    margin-left: 52px;
    margin-bottom: 15px;
}

a.btn-link {
    margin-left: 50px;
    font-family: raleway;
    font-size: 14px;
    color: grey;
    text-decoration: none;
}

a.btn-link:hover {
    color: #333;
}

label.form-check-label {
    font-family: raleway;
}


